@model WebApplication2.Models.GraphicViewModel
@{
    ViewBag.Title = "ShowStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/canvasjs.min.js")
<h2 style="color:white; font-weight:bold; font-size: 14px">Rating of location: @Model.loc.AvgRating </h2>
<br />
<h2 style="color:white; font-weight:bold; font-size: 14px">Average ratings of projections: </h2>
<br />
@foreach (var l in Model.loc.ProjectionsList)
{
    <h2 style="color:white; font-weight:bold; font-size: 14px">@l.Name : @l.AvgRating </h2>
}
<br />
@using (Html.BeginForm("ShowIncome", "Statistics",  FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "color:white", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <h2 style="color:white; font-weight:bold;">Prihod</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.DatumOd, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DatumOd,
                new { @type = "date" })
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.DatumDo, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DatumDo,
                new { @type = "date" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Show Income" />
        </div>
    </div>
}
@if (ViewBag.prihod > 0)
{
    <h2 style="color:white; font-weight:bold; font-size: 14px"> Prihod u izabranom periodu iznosi : @ViewBag.prihod</h2>
}
<br />
<h2 style="color:white; font-weight:bold; font-size: 18px">Daily report</h2>
<br />
<div id="chartContainer2" style="height:250px; width: 50%;"></div>
<br />
<h2 style="color:white; font-weight:bold; font-size: 18px">Weekly report</h2>
<br />
<div id="chartContainer" style="height:250px; width: 50%;"></div>
<br />
<h2 style="color:white; font-weight:bold; font-size: 18px">Monthly report</h2>
<br />
<div id="chartContainer3" style="height:250px; width: 50%;"></div>
<script type="text/javascript">
window.onload = function () {
    var dataPoints = [];
    var dataPoints1 = [];
    var dataPoints3 = [];
    debugger;
   @for (int x = 0; x < @Model.pairs.Count; x++) {
       {
           <text>
            dataPoints.push({label : '@Model.pairs[x].date' , y: @Model.pairs[x].number});
    </text>

       }
   }
    @for (int x = 0; x < @Model.nedeljni.Count; x++) {
        {
            <text>
             dataPoints1.push({label : '@Model.nedeljni[x].date' , y: @Model.nedeljni[x].number});
    </text>

        }
    }
    @for (int x = 0; x < @Model.mesecni.Count; x++) {
        {
            <text>
             dataPoints3.push({label : '@Model.mesecni[x].date' , y: @Model.mesecni[x].number});
            </text>

        }
    }
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Basic Column Chart"
        },
        data: [
        {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",

            dataPoints:dataPoints

        }
        ]
       // data.dataPoints.push("dsada",31);
});
    chart.render();
    var chart3 = new CanvasJS.Chart("chartContainer3", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Basic Column Chart"
        },
        data: [
        {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",

            dataPoints:dataPoints3

        }
        ]
        // data.dataPoints.push("dsada",31);
    });
    chart3.render();
    var chart2 = new CanvasJS.Chart("chartContainer2", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Basic Column "
        },
        data: [
        {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",

            dataPoints:dataPoints1

        }
        ]
        // data.dataPoints.push("dsada",31);
    });
    chart2.render();

}
</script>
