@model WebApplication2.Models.LocationWithNumberOfSeats
@{
    ViewBag.Title = "ShowRepertoar";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
    <h2 style="color:white">Repertoar - @Model.location.Name</h2>
</div>
<br />
@foreach (var l in Model.location.ProjectionsList)
{
 
    <div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
        <div style="background-color:gray">
            <h2 style="color:white">@l.Name</h2>


        </div>
     
        @if (l.PosterUrl != null)
        {
            <img src="@l.PosterUrl" width="70" height="70" />
        }
        else
        {
            <img src="~/images/placeholder4.png" width="70" height="70" />
        }
        <h2 style="color:white; font-weight:bold; font-size: 14px">Name of Director: @l.DirectorName </h2>
        <h2 style="color:white; font-weight:bold; font-size: 14px">Description: @l.Description </h2>
        <h2 style="color:white; font-weight:bold; font-size: 14px">Duration time: @l.DurationTime </h2>
       
       @{ var i = 0;}
        @foreach (var projhall in l.ProjHallsTimeList)
        {
            if (DateTime.Compare(DateTime.Now, projhall.Time) <= 0)
            {
            <div class="carousel" style="background-color:white;  width: 300px; margin:0 auto ">

                <h2 style="color:black; font-weight:bold; font-size: 14px"> Projection: @l.Name</h2>
                <h2 style="color:black; font-weight:bold; font-size: 14px">Time: @projhall.Time </h2>
                <h2 style="color:black; font-weight:bold; font-size: 14px">Hall: @projhall.Hall.Name </h2>
                <h2 style="color:black; font-weight:bold; font-size: 14px">Ticket price: @projhall.TicketPrice</h2>
                <h2 style="color:black; font-weight:bold; font-size: 14px">Free seats: @Model.NumberOfFreeSeats[i] </h2>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               @if (Request.IsAuthenticated)
               {
                 @Html.ActionLink("Reserve", "ViewReservation", "Reservation", new { projectionId = l.Id, projHall = projhall.Id }, null)

               }
                @{ i++;}


            </div>
                    }
            <br />
        }
    </div>
}
       
     <br />
}
