@model WebApplication2.Models.AddNewAdminViewModel
@using Microsoft.AspNet.Identity;
@using Isa2017Cinema.Models;
@{
    ViewBag.Title = "Add new admin";

    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem { Text = "Fanzone admin", Value = "0" });

    items.Add(new SelectListItem { Text = "Location admin", Value = "1" });

    using (var ctx = new ApplicationDbContext())
    {
        var resUsr = ctx.Database.SqlQuery<SystemAdmin>("select * from AspNetUsers where id = '" + User.Identity.GetUserId() + "'").FirstOrDefault();
        if (resUsr != null)
        {
            if (resUsr.IsMainAdmin)
            {
                items.Add(new SelectListItem { Text = "System admin", Value = "2" });
            }
        }
    }
}

<h2 style="color:white">Add new administrator:</h2>
@using (Html.BeginForm("AddAdmin", "System_Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Admin type</label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(m => m.Admin_Type, items, new { @class = "form-control" });
                        @Html.ValidationMessageFor(m => m.Admin_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">First name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Last name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Email</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">User name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}