@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedAddress = "Trg Dositeja Obradovica 4, Novi Sad";
}
@model WebApplication2.Models.CinemaViewModel
<div class="container" style="background-color:black;  left:0; right:0">
    <label style="color:white; font-size:40px; font-style:italic; font-family:'Times New Roman', Times, serif ">@ViewBag.Message</label>
</div>

@section Scripts {
    @Scripts.Render("~/Client Scripts/setUpMap.js")
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfqzDH5Ho559xAogS569JTX4Nn_VZZHRQ">   </script>
}

<div id="map">
</div>

<h3 id="distancePlholder" style="color:white;font-size: 14px; visibility: hidden">Distance: <b id="distance" style="color:dodgerblue;font-size: 14px;"></b> m</h3>

<div class="container" style="margin: 0 auto; left:0; right:0">
    
    @using (Html.BeginForm("Search", "App", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <form class="form-horizontal">
            <div class="row container">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="color:white; "> </label>
                            
                         @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Search", align = "right" })
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control", align = "right", @Value = ViewBag.type, style = "visibility:hidden" })
                         
                    </div>
                </div>
            
                <div class="col-sm-2 input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    <br />
                    
                </div>
                <div class="col-sm-1">
                    
                </div>
                <br />
               
            </div>
        </form>
    } 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
    <input type="button" class="btn btn-basic" value="Sort by name" onclick="location.href='@Url.Action("SortLocationsByName", "App", new { name = @Model.Name, type = @Model.Type })'" />
    &nbsp; &nbsp; &nbsp; &nbsp;
    <input type="button" class="btn btn-basic" value="Sort by city" onclick="location.href='@Url.Action("SortLocationsByCity", "App", new { name = @Model.Name, type = @Model.Type })'" />

    <hr />
    <ul>
        @foreach (var l in ViewBag.locations)
        {
            <div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
                <div style="background-color:gray">
                    <h2 style="color:white">@l.Name</h2>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="color:white">
                    [ @Html.ActionLink("Repertoar", "ViewRepertoar", "Reservation", new { locationId = l.Id }, null) ]
                   
                </label>        
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                @if (Request.IsAuthenticated)
                {
                <label style="color:white">
                    [@Html.ActionLink("Fast Reservation", "ShowFastTickets", "Reservation", new { locationId = l.Id }, null)]
                </label> 
                }

                <!--<a href="https://maps.google.com/?q=58250 @l.Address"></a>-->

                <h3 style="color:white;font-size: 14px">Address: <b style="color:dodgerblue;font-size: 14px">@l.Address - @l.City</b></h3>

                <input type="button" class="btn btn-basic" value="Show on map" onclick="codeAddress('@l.Address')"/>
                <br />

                <label style="color:white; font-weight:bold; font-size: 14px">Description:  </label>

                <label style="color:white; font-size: 14px"> @l.Description </label>
                <br/>
                <label style="color:white; font-weight:bold; font-size: 14px">Average rating:  </label>

                <label style="color:white; font-size: 14px"> @l.AvgRating / 5</label>



            </div>
            <br />
        }

    </ul>

</div>

<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>