@model Isa2017Cinema.Models.IndexViewModel
@{
    ViewBag.Title = "Manage profile";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First name: </dt>
        <dd>@Model.FirstName  [ @Html.ActionLink("Change", "ChangeName") ]</dd>
        
        <dt>Last name: </dt>
        <dd>@Model.LastName   [ @Html.ActionLink("Change", "ChangeLastName") ]</dd>

        <dt>City: </dt>
        <dd>@Model.City   [ @Html.ActionLink("Change", "ChangeCity") ]</dd>

        <dt>Email: </dt>
        <dd>@Model.Email   [ @Html.ActionLink("Change", "ChangeEmail") ]</dd>

        <dt>Phone number: </dt>
        <dd>@Model.PhoneNumber    [ @Html.ActionLink("Change", "ChangeNumber") ]</dd>

        <dt>User name: </dt>
        <dd>@Model.UserName   [ @Html.ActionLink("Change", "ChangeUserName") ]</dd>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
       
    </dl>

    <p class="text-success">@ViewBag.StatusMessage</p>
</div>