@model WebApplication2.Models.HallTimeViewModel
@{
    ViewBag.Title = "AddHallTimeProjection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("HallTimeSubmit", "Hall", new { MyLocation = ViewBag.location, projekcija = ViewBag.projekcija }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "color:white" }))
{
    @Html.AntiForgeryToken()
    <h4 style="color:white">Create a new time for projection</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Hall, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            
            @Html.DropDownListFor(n => n.Hall,
            new SelectList(Model.Hale,"Name"))

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
           @Html.TextBoxFor(model => model.Date,
           new { @type = "date", min=DateTime.Now })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Time,
           new { @type = "time" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.TicketPrice, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TicketPrice, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




