@using Isa2017Cinema.Models;
@{
    //prebaci sve u kontrolere!!!!!!
    List<ThemeRequisit> themeRequisits = new List<ThemeRequisit>();
    using (var ctx = new ApplicationDbContext())
    {
        /*var reqs = ctx.Database.SqlQuery<ThemeRequisit>("select * from ");*/
        var reqs = ctx.ThemeRequisits;
        foreach (var req in reqs)
        {
            themeRequisits.Add(req);
        }
    }

}

<h2 style="color:white">Official offers:</h2>
@if (TempData["success"] != null)
{
    <div id="IndexSuccessMessage" class="row">
        <h3>@TempData["success"]</h3>
    </div>
}

@if (User.IsInRole("Fanzone_Admin"))
{
    <input type="button" class="btn btn-success" value="New" onclick="location.href='@Url.Action("AddNewThemeRequisit", "FanZone")'" />
}
<div style="overflow-y: scroll; position:relative">
    @if (themeRequisits.Count > 0)
    {
        foreach (var thReq in themeRequisits)
        {
            <div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
                <div style="background-color:gray">
                    <h2 style="color:white">@thReq.Name</h2>
                </div>
                <h3 style="font-weight:bold;color:white;font-size: 14px">Price: @thReq.Price</h3>

                <label style="color:white; font-weight:bold; font-size: 14px">Available count: @thReq.AvailableCount</label>

                <img src=@Url.Content(@thReq.ImageUrl) height="32" width="32"/>

                @if(User.IsInRole("Regular_User"))
                {
                    <input type="button" class="btn btn-success" value="Reserve" onclick="location.href='@Url.Action("ReserveRequisit", "FanZone",new { reqID = @thReq.Id })'" />
                }
                else if (User.IsInRole("Fanzone_Admin"))
                {
                    <input type="button" class="btn btn-success" value="Edit" onclick="location.href='@Url.Action("EditThemeRequisit", "FanZone",new { reqID = @thReq.Id })'" />
                    <input type="button" class="btn btn-success" value="Delete" onclick="location.href='@Url.Action("DeleteRequisit", "FanZone",new { reqID = @thReq.Id })'" />
                }
            </div>
            <br />
        }
    }
</div>