@model WebApplication2.Models.HallViewModel

@{
    ViewBag.Title = "Add new hall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("HallSubmit", "Location", new { MyLocation = ViewBag.location }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "color:white" }))
{
    @Html.AntiForgeryToken()
    <h4 style="color:white">Create a new hall</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rows, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Rows, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Columns, new { @class = "col-md-2 control-label", style = "color:white" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Columns, new { @class = "form-control" })
        </div>
    </div>

  
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add hall" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

