@model Isa2017Cinema.Models.Projection
@{
    ViewBag.Title = "ChangeProjection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
    <div style="background-color:gray">
        <h2 style="color:white">@Model.Name [ @Html.ActionLink("Change", "ChangeNameProjection","Location",new { projekcija = Model.Id },null) ]</h2>
    </div>
    <img src="@Model.PosterUrl" align="middle" width="200" height="200" /> <h2 style="color:white; font-weight:bold; font-size: 14px">[ @Html.ActionLink("Change", "ChangePictureProjection", "Location", new { projekcija = Model.Id }, null) ] </h2>
    <h2 style="font-weight:bold;color:white;font-size: 14px">Genre: @Model.Genre [ @Html.ActionLink("Change", "ChangeGenreProjection","Location", new { projekcija = Model.Id }, null) ]</h2>  
    <h2 style="color:white; font-weight:bold; font-size: 14px">Name of Director: @Model.DirectorName [ @Html.ActionLink("Change", "ChangeDirectorProjection","Location", new { projekcija = Model.Id }, null) ] </h2>
    <h2 style="color:white; font-weight:bold; font-size: 14px">Description: @Model.Description [ @Html.ActionLink("Change", "ChangeDescriptionProjection","Location", new { projekcija = Model.Id }, null) ] </h2>
    <h2 style="color:white; font-weight:bold; font-size: 14px">Duration time: @Model.DurationTime [ @Html.ActionLink("Change", "ChangeDurationProjection","Location", new { projekcija = Model.Id }, null) ] </h2>
    <h2 style="color:white; font-weight:bold; font-size: 14px">Ticket price: @Model.TicketPrice [ @Html.ActionLink("Change", "ChangePriceProjection", "Location", new { projekcija = Model.Id }, null) ] </h2>
    <input type="button" class="btn btn-basic" value="Add new time for projection" onclick="location.href='@Url.Action("AddHallTimeProjection", "Hall",new { projekcija = Model.Id})'" />
    <input type="button" class="btn btn-basic" value="Add fast reserve ticket" onclick="location.href='@Url.Action("AddFastReserveTicket", "Hall",new { projekcija = Model.Id})'" />
    <h1 style="color:white; font-weight:bold; font-size: 24px"><i>Schedule :</i></h1>

    <ul>
        @foreach (var projhall in Model.ProjHallsTimeList)
        {
            <li style="color:white; font-weight:bold; font-size: 18px"> @projhall.Time , @projhall.Hall.Name [ @Html.ActionLink("Delete", "DeleteTimeHallProjection", "Location", new { projekcija = Model.Id , timehall = projhall.Id }, null) ]</li>

        }
    </ul>
  <br />
</div>

