@model Isa2017Cinema.Models.Location
@{
    ViewBag.Title = "ChangeLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

@Html.HiddenFor(m => m.Id)
<div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
    <div style="background-color:gray">
        <h2 style="color:white">@Model.Name [ @Html.ActionLink("Change", "ChangeNameLocation", "Location", new { idLocation = Model.Id }, null) ]</h2>
    </div>
    <h3 style="font-weight:bold;color:white;font-size: 14px">Address: [ @Html.ActionLink("Change", "ChangeAddressLocation", "Location", new { idLocation = Model.Id }, null) ] </h3>

    <a href="https://maps.google.com/?q=58250 @Model.Address">
        <h3 style="color:white;font-size: 14px"> @Model.Address</h3>
    </a>


    <label style="color:white; font-weight:bold; font-size: 14px">Description: [ @Html.ActionLink("Change", "ChangeDescriptionLocation", "Location", new { idLocation = Model.Id }, null) ] </label>
    <br />
    <label style="color:white; font-size: 14px"> @Model.Description </label>
    <br/>
   
    <input type="button" class="btn btn-basic" value="Projections" onclick="location.href='@Url.Action("Projections", "Location",new { MyLocation = Model.Id})'" />
    <input type="button" class="btn btn-basic" value="Halls" onclick="location.href='@Url.Action("Halls", "Location",new { MyLocation = Model.Id})'" />
   
</div>





