@model Isa2017Cinema.Models.Location
@{
    ViewBag.Title = "Projections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
    <h2 style="color:white">Projekcije: </h2>
    <input type="button" class="btn btn-basic" value="Add projection" onclick="location.href='@Url.Action("AddProjection", "Location",new { MyLocation = Model.Id})'" />

</div>
<br />
@foreach (var l in Model.ProjectionsList)
{
    <div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
        <div style="background-color:gray">
            <h2 style="color:white">@l.Name</h2>

        </div>
        @if (l.PosterUrl != null)
        {
            <img src="@l.PosterUrl" width="70" height="70" />
        }
        else
        {
            <img src="~/images/placeholder4.png" width="70" height="70" />
        }
        <input type="button" class="btn btn-basic" value="Edit projection" onclick="location.href='@Url.Action("EditProjection", "Location",new { idProj = @l.Id})'" />
        <input type="button" class="btn btn-basic" value="Delete projection" onclick="location.href='@Url.Action("DeleteProjection", "Location",new { idProj = @l.Id} )'" />
    </div>
                <br />
}

