
@{
    ViewBag.Title = "ShowFriendRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">Friend requests</h2>
<hr />
<div style="overflow-y: scroll; position:relative">
    @if (ViewBag.usersRequest.Count > 0)
    {

        foreach (var reg in ViewBag.usersRequest)
        {
            int br = 0;
            <div class="jumbotron" style="background-color:rgba(211,211,211,0.2);  width: 600px; margin:0 auto ">
                <dl class="dl-horizontal">
                    <dt style="width: 300px; text-align:left; opacity:1.0"><label style="font-size: 16px; color:white">@reg.Name @reg.LastName, @reg.City </label> </dt>
                    <input type="button" class="btn btn-success" value="Accept" onclick="location.href='@Url.Action("AcceptRequest", "Friends",new { username = @reg.UserName,isFriendPage = false,isRequestPage = true})'" />
                    <input type="button" class="btn btn-danger" value="Decline" onclick="location.href='@Url.Action("DeclineRequest", "Friends",new { username = @reg.UserName,isFriendPage = false,isRequestPage = true})'" />

                </dl>
            </div>
            <br />
        }
    }
    else
    {
        <h3 style="color:white">No requests.</h3>
    }
</div>
